.list-cell-unread {
	-fx-font-weight: bold;
}

.list-cell-small {
	-fx-font-size: 0.66em;
}

.list-cell-excerpt {
	-fx-text-fill: derive(-fx-control-inner-background, -40%);
	-fx-font-size: 0.8em;
	-fx-font-style: italic;
}

#title.one {
	min-height: 1.2em;
	max-height: 1.2em;
	-fx-min-height: 1.2em;
	-fx-max-height: 1.2em;
}

#title.double {
	min-height: 2.4em;
	max-height: 2.4em;
	-fx-min-height: 2.4em;
	-fx-max-height: 2.4em;
}